<?xml version="1.0"?>
<config>
  <modules>
    <Javen_CustomerAsAProduct>
      <version>0.4.8</version>
    </Javen_CustomerAsAProduct>
  </modules>
  <frontend>
    <routers>
      <customerasaproduct>
        <use>standard</use>
          <args>
            <module>Javen_CustomerAsAProduct</module>
            <frontName>customerasaproduct</frontName>
          </args>
      </customerasaproduct>
    </routers>
		<layout>
		  <updates>
			<customerasaproduct>
			  <file>customerasaproduct.xml</file>
			</customerasaproduct>
		  </updates>
		</layout>
    <translate>
      <modules>
        <Javen_CustomerAsAProduct>
          <files>
            <default>Javen_CustomerAsAProduct.csv</default>
          </files>
        </Javen_CustomerAsAProduct>
      </modules>
    </translate>
  </frontend>
  <global>
    <helpers>
      <customerasaproduct>
        <class>Javen_CustomerAsAProduct_Helper</class>
      </customerasaproduct>
    </helpers>
  	<blocks>
  	  <customerasaproduct>
  		  <class>Javen_CustomerAsAProduct_Block</class>
  	  </customerasaproduct>
  	</blocks>
    <models>
  	  <customerasaproduct>
  		  <class>Javen_CustomerAsAProduct_Model</class>
  		  <resourceModel>customerasaproduct_mysql4</resourceModel>
  	  </customerasaproduct>
	  </models>
  <events>
	  <customer_register_success> <!-- identifier of the event we want to catch -->
        <observers>
          <notify_user> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>customerasaproduct/observer</class> <!-- observers class alias -->
            <method>customerRegisterSuccess</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </notify_user>
        </observers>
    </customer_register_success>
    <sales_order_place_after>
        <observers>
          <javen_customerasaproduct>
            <type>model</type>
            <class>customerasaproduct/observer</class>
            <method>marketingPromotedProduct</method>
            <args></args>
          </javen_customerasaproduct>
        </observers>
    </sales_order_place_after>
  </events>
    <resources>
      <customerasaproduct_setup>
        <setup>
          <module>Javen_CustomerAsAProduct</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </customerasaproduct_setup>
      <customerasaproduct_write>
        <connection>
          <use>core_write</use>
        </connection>
      </customerasaproduct_write>
      <customerasaproduct_read>
        <connection>
          <use>core_read</use>
        </connection>
      </customerasaproduct_read>
    </resources>
  </global>
</config>
