<?xml version="1.0"?>
<config>
  <modules>
    <Javen_CustomerAsAProduct>
      <version>0.1.0</version>
    </Javen_CustomerAsAProduct>
  </modules>
  <frontend>
    <routers>
      <customerasaproduct>
        <use>standard</use>
          <args>
            <module>Javen_CustomerAsAProduct</module>
            <frontName>customerasaproduct</frontName>
          </args>
      </customerasaproduct>
    </routers>
		<layout>
		  <updates>
			<customerasaproduct>
			  <file>customerasaproduct.xml</file>
			</customerasaproduct>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <customerasaproduct>
        <class>Javen_CustomerAsAProduct_Helper</class>
      </customerasaproduct>
    </helpers>
	<blocks>
	  <customerasaproduct>
		<class>Javen_CustomerAsAProduct_Block</class>
	  </customerasaproduct>
	</blocks>
  </global>
</config> 