/* From 480px to 640px width */
@media only screen
and (min-device-width : 480px)
and (max-device-width : 640px) {

  /* Header */
  .page-header {
    max-width: 480px;
    height: auto;
  }

  .page-header .skip-links {
    border: none;
    width: 180px;
    float: left;
    padding-left: 25px;
  }

  .header-mobile-links-btn {
    margin-top: -10px;
    display: inline-block;
    margin-left: 45px;
  }

  #header-mobile-links-btn:hover {
    cursor: pointer;
  }

  .page-header-container {
    min-height: 60px;
  }

  .page-header-container .store-language-container {
    float: left;
    width: auto;
    max-width: 100%;
    margin: 0;
  }

  .page-header-container .header-top-name {
    margin-top: -7px;
  }

  .header-top-links {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
  }

  .header-top-links a {
    color: #9e9e9e;
    font-size: 16px;
  }

  .store-language-container .form-language-visible .language-flag {
    margin-top: 0;
  }

  .store-language-container .form-language-visible .language-arrow {
    margin-left: 10px;
    margin-top: 11px;
  }

  .logo {
    width: 35%;
  }

  .header-home-circle {
    display: none;
  }

  .header-mobile-links {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .mobile-header {
    width: 500px;
    margin-left: 0 !important;
    margin-bottom: 10px;
    border-radius: 5px;
    text-transform: none;
  }

  /* Header */

  /* Main Container */

  .col2-right-layout, .col2-left-layout {
    width: auto !important;
    min-width: auto !important;
  }

  .main-container .col-main {
    margin-bottom: 0;
  }

  .main-container .col2-right-layout {
    width: auto;
  }

  .home-container-poznat {
    background: url(../images/mobile-home-1.jpg) top center;
  }

  .home-container-poznat-search {
    width: 100%;
    border-radius: 0;
    padding: 20px 0;
  }

  .home-container-bidi-javen h1 {
    font-size: 48px;
  }

  .home-container-bidi-javen h4 {
    font-size: 20px;
  }

  .home-container-poznat-search .search-submit-parent {
    width: auto;
    height: auto;
    float: none;
  }

  .home-container-bidi-javen {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .home-container-poznat-search .advanced-search .form-list li {
    float: none;
  }

  .home-container-poznat-search .advanced-search input.input-text {
    width: 500px !important;
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center;
  }

  .home-container-poznat-search .advanced-search select.search-select {
    width: 500px;
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center;
  }

  .home-container-poznat-search .search-submit {
    width: 500px;
  }

  .home-container-categories {
    width: 500px;
    padding-left: 0;
  }

  .home-container-categories .empty-li {
    display: none;
  }

  .home-container-za {
    width: 500px;
    margin-bottom: 60px;
  }

  .home-container-za-biznisite {
    float: none;
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
  }

  .home-container-za-prebaruvacite {
    float: none;
    width: auto;
  }

  .home-container-vlozi {
    width: auto;
    text-align: center;
    display: inline-block;
    background: url(../images/mobile-home-2.jpg) top center;
  }

  .home-container-vlozi-bottom {
    width: 500px;
    display: inline-block;
    padding-left: 0;
  }

  .home-container-vlozi-1, .home-container-vlozi-2, .home-container-vlozi-3 {
    width: auto;
    float: none;
    padding: 0;
  }

  .home-container-packages {
    width: auto;
  }

  .home-container-packages-box {
    width: 500px;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
  }

  .home-container-promotions {
    width: 100%;
  }

  .home-container-promotions-container {
    width: auto;
  }

  .promote-packages-box {
    width: 100%;
    float: none;
  }

  /* Main Container */

  /* Footer */

  .footer-custom {
    width: auto;
  }

  .footer-custom-left {
    float: none;
    display: inline-block;
  }

  .footer-custom-left li {
    padding: 0;
    padding: 10px 10px 10px 0;
  }

  .footer-custom-right-kontakt {
    padding-left: 0;
    width: 500px;
  }

  .footer-custom-right-fb {
    padding-left: 0;
    width: 500px;
    padding-bottom: 20px;
  }

  /* Footer */

  /* Category */

  .page-header-search .mini-search {
    text-align: center;
  }

  .page-header-search {
    height: 262px !important;
    padding-top: 0;
  }

  .catalog-category-view .main-container, .catalogsearch-result-index .main-container, .catalog-product-view .main-container {
    width: auto !important;
    min-width: auto !important;
  }

  .main-container .col-main {
    text-align: center;
  }

  .category-products .count-container {
    float: none !important;
    display: inline-block;
  }

  .category-products .toolbar .sorter label {
    float: none;
  }

  .category-products .toolbar .sorter {
    margin-bottom: 20px;
  }

  .category-products .toolbar .sorter .sort-by {
    float: none;
    margin-right: 0;
  }

  .category-products .toolbar .pager .amount {
    margin: 0;
  }

  .category-products .products-list .product-image {
    float: none;
    margin: 0 auto;
  }

  .category-products .products-list .product-info .product-name {
    text-align: center;
    margin-top: 20px;
  }

  .category-products .products-list .product-info p {
    text-align: center;
  }

  .category-products .products-list .product-shop {
    float: none;
    width: 100%;
  }

  .category-products .products-list .product-info {
    float: none;
    padding-left: 0
  }

  .category-products .category-map {
    width: auto;
  }

  /* Category */

  /* Product */

  .product-view {
    width: auto;
  }

  .product-cover-img-box, .product-img-box {
    width: auto;
  }

  .product-cover-img-box img {
    max-width: 100%;
  }

  .product-shop-information {
    float: none;
    margin: 0 auto;
  }

  .product-shop-information p {
    text-align: center;
  }

  .product-shop-social {
    float: none;
  }

  .product-shop-working-hours {
    float: none;
    display: inline-block;
    padding-right: 0;
  }

  .product-shop-working-hours p {
    text-align: center;
  }

  .product-shop-map {
    width: auto;
    float: none;
  }

  .product-shop-google-map {
    float: none;
    width: auto;
  }

  .product-page-border {
    width: 100%;
    float: none;
  }

  .product-image-gallery {
    width: auto;
    float: none;
  }

  .product-image-gallery .gallery-image.visible {
    float: none;
  }

  .product-shop .more-views {
    float: none;
    width: auto;
    margin-right: 0;
  }

  .product-shop .more-views ul {
    padding-right: 0;
  }

  .product-image-thumbs li {
    width: auto;
  }

  .product-shop-promotions {
    float: none;
    width: auto;
  }

  .product-page-border1 {
    width: 100%;
    float: none;
    display: inline-block;
  }

  .product-page-related {
    float: none;
    width: auto;
  }

  /* Product */

  /* Login and Register */

  .account-login {
    width: auto;
  }

  .account-login .col2-set {
    width: 500px;
    padding-left: 0;
    margin: 0 auto;
  }

  .account-login .input-box {
    margin: 0 auto;
    width: 500px;
  }

  .account-login .buttons-set a {
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
  }

  .account-login .please-register {
    margin-bottom: 40px;
  }

  .account-create {
    width: auto;
  }

  .account-create .col2-set {
    width: 500px;
    padding-left: 0;
    margin: 0 auto;
  }

  .account-create .input-box {
    margin: 0 auto;
    width: 500px;
  }

  .account-create .buttons-set a {
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
  }

  .account-create .please-register {
    margin-bottom: 40px;
  }

  .account-create .fieldset {
    margin-left: 0;
  }

  .account-create .fieldset .legend {
    margin-left: 0;
  }

  .account-create .form-list {
    margin-left: 0;
  }

  .account-create .buttons-set {
    width: 500px;
    margin-left: 0;
    padding-left: 0;
    margin: 0 auto;
  }

  .account-create .buttons-set button.button {
    margin-bottom: 20px;
  }

  .my-account .page-title h1 {
    margin-left: 0;
  }

  .my-account .fieldset {
    margin-left: 0;
  }

  .my-account .form-list input {
    width: 500px;
  }

  .my-account .buttons-set {
    margin-left: 0;
  }

  .my-account .buttons-set {
    text-align: center;
  }

  .my-account .buttons-set button.button {
    width: 500px;
  }


  /* Login and Register */

  /* My Account */

  .my-account {
    width: auto;
  }

  .my-account .dashboard {
    margin-top: 20px;
  }

  .my-account .dashboard .col-1 {
    width: 100%;
    float: none;
  }

  .my-account .dashboard .box-content p {
    text-align: center;
  }

  .my-account .dashboard .button {
    margin-right: 0;
  }

  .my-account .dashboard .col-2 {
    width: 100%;
    float: none;
  }

  .my-account .dashboard .payment-card {
    margin: 0 auto;
  }

  .my-account .dashboard .col-3 {
    width: 100%;
    float: none;
  }

  .my-account .dashboard .col-3 .data-table th {
    text-align: center;
  }

  /* My Account */

  /* Payments and Terms */

  .cms-payments-options .std p {
    width: 500px;
    text-align: center;
  }

  .cms-payments-options .std h4 {
    width: 500px;
  }

  .cms-terms-and-conditions .std p {
    width: 500px;
  }

  .cms-terms-and-conditions .std h4 {
    width: 500px;
  }

  /* Payments and Terms */

  /* Marketing Page */

  .marketing-packages-container {
    width: 500px;
    margin: 0 auto;
  }

  .marketing-packages-container li {
    height: auto;
  }

  .marketing-package-info {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .marketing-package-image {
    margin: 0 auto;
    float: none;
  }

  .marketing-package-price {
    padding-top: 20px;
    padding-bottom: 10px;
    float: none;
    margin-right: 0;
    margin: 0 auto;
  }

  /* Marketing Page */

  /* Create Business Page */

  .customerasaproduct-container {
    width: auto;
    padding-left: 0;
  }

  .customerasaproduct-container .group-select li {
    width: 500px;
    margin: 0 auto;
  }

  .customerasaproduct-container .input-box input {
    width: 500px;
  }

  .customerasaproduct-container .input-box select {
    width: 500px;
  }

  .customerasaproduct-container1 {
    padding-top: 0;
  }

  .customerasaproduct-container .input-box .working-hours input {
    width: 500px;
    margin-right: 0;
  }

  .customerasaproduct-container2 .input-box textarea {
    width: 500px;
  }

  .customerasaproduct-container .customerasaproduct-map {
    width: 500px !important;
  }

  .customerasaproduct-container4 .input-box textarea {
    width: 500px;
  }

  .customerasaproduct-container .buttons-set {
    text-align: center;
  }

  .customerasaproduct-container .buttons-set .button {
    width: 500px;
  }

  /* Create Business Page */

  /* Messages */

  .messages .success-msg li {
    width: auto;
  }

  /* Messages */

  /* Cart Page */

  .cart {
    width: auto;
  }

  .cart .cart-table .product-image img {
    margin: 0 auto;
  }

  .cart .data-table td {
    text-align: center;
  }

  .cart .cart-table .button {
    float: none;
    width: 300px;
  }

  .cart .totals .checkout-types .button {
    width: 300px;
  }

  .cart .totals table {
    float: none;
    margin: 0 auto;
  }

  /* Cart Page */

  /* Checkout */

  .iwd_opc_wrapper {
    width: auto;
  }

  .checkout-onepage-success .buttons-set .button {
    width: 300px;
  }

  /* Checkout */

}
