#header-nav {
  border-bottom: 0;
}

.page-header-container .store-language-container {
  float: left;
  padding: 0;
  margin-right: 40px;
}

.page-header-container .store-language-container select {
  background-color: white;
  border: 0;
  background: url('../images/makedonski.svg')left no-repeat;
  background-size: 40px 30px;
  padding-left: 40px;
  margin-top: 6px;
}

.page-header-container .store-language-container option {
  background: url('../images/makedonski.svg')top;
  background-size: 15px 15px;
}

.form-language {
  float: left;
}

.logo {
  min-height: 0;
}

.langs-wrapper{float:right;height:15px;margin-right:20px;}
.lang-flag{border:1px solid transparent;display:inline-block;height:13px;}
.lang-flag:hover{border:1px solid #FFF;}

.account-cart-wrapper {
  margin-top: 13px;
}

.account-cart-wrapper a.button {
  padding: 6px 20px;
  border-radius: 5px;
  height: 32px;
  margin-right: 20px;
  text-transform: none;
}

#login-button {
  background-color: white;
  border: 1px solid #FF9800;
  color: #FF9800;
}

body.cms-home .main-container {
  padding-top: 0;
}

.home-container-poznat {
  width: 1200px;
  float: left;
  height: 600px;
  background-color: #D0D0D0;
  text-align: center;
}

.home-container-poznat-search {
  width: 100%;
  text-align: center;
  margin-top: 350px;
}

#search {
  width: 528px;
  height: 64px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-container-poznat-search .search-input {
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 20px;
}

.home-container-poznat-search .search-select {
  width: 528px;
  height: 64px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 18px;
  font-family: "Roboto Condensed";
}

.home-container-poznat-search .search-submit {
  height: 64px;
  width: 64px;
  border: 0;
  border-radius: 5px;
  background-color: #FF9800;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container-categories {
  width: 1200px;
  float: left;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-left: 65px;
}

.home-container-categories li {
  float: left;
  width: 150px;
  text-align: center;
  margin-bottom: 40px;
}

.home-container-categories a {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #ff8a65;
  border-radius: 50%;
  padding-top: 19px;
}

.home-container-categories img {
  display: inherit;
  margin: 0 auto;
}

.home-container-packages-container h2 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-transform: none;
  font-size: 24px;
}

.home-container-packages {
  width: 1200px;
  float: left;
  margin-bottom: 60px;
  text-align: center;
  display: inline-block;
}

.home-container-packages-container {
  margin: 0 auto;
  width: 960px;
}

.home-container-packages-box {
  width: 300px;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding-top: 20px;
}

.package-box-name {
  font-weight: bold;
  color: white;
  text-transform: none;
  font-size: 18px;
}

.package-box-price {
  color: white;
  font-size: 36px;
  margin-bottom: 20px !important;
}

.package-box-desc {
  color: white;
  margin-bottom: 60px !important;
}

.package-box-button {
  background-color: white;
  margin-bottom: 20px;
  width: 260px;
  height: 32px;
  border-radius: 5px;
  text-transform: none;
}

.home-container-promotions {
  width: 1200px;
  float: left;
  text-align: center;
  display: inline-block;
  background-color: #00bfa5;
  height: 300px;
  padding-top: 60px;
}

.home-container-promotions-container h2 {
  text-transform: none;
  font-size: 24px;
  color: white;
}

.footer {
  padding-top: 0px;
}

.footer-custom {
  width: 1200px;
  background-color: #e0e0e0;
}

.footer-container {
  padding: 0;
}

.footer address {
  border-top: none;
  margin-top: 0px;
  padding: 7px 0 0 0;
  height: 30px;
}

.product-view {
  width: 1200px;
}

.product-img-box {
  width: 100%;
  padding: 0;
  position: relative;
}

.product-img-box .product-name {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-img-box .product-name .h1 {
  color: white;
  font-size: 30px;
  border: none;
  text-transform: none;
}

.product-image {
  border: 0;
}

.product-view .product-shop {
  padding-left: 0;
  width: 100%;
  float: left;
}

.product-shop-information {
  float: left;
  width: 300px;
}

.product-shop-working-hours {
  float: left;
  width: 300px;
}

.product-shop-google-map {
  float: left;
  width: 600px;
  height: 300px;
}
