#header-nav {
  border-bottom: 0;
}

.page-header-container .store-language-container {
  float: left;
  padding: 0;
  margin-right: 40px;
}

.page-header-container .store-language-container select {
  background-color: white;
  border: 0;
  background: url('../images/makedonski.svg')left no-repeat;
  background-size: 40px 30px;
  padding-left: 40px;
  margin-top: 6px;
}


.page-header-container .store-language-container option {
  background: url('../images/makedonski.svg')top;
  background-size: 15px 15px;
}

.page-header-container .header-top-name {
  float: right;
  color: #FF9800;
  margin-top: -5px;
  cursor: pointer;
}

.page-header-container .header-top-name p {
  font-size: 14px;
  font-weight: bold;
  float: left;
  margin-top: 12px;
  margin-right: 15px;
}

.page-header-container .header-top-account-img {
  float: left;
}

.page-header-container .header-top-account-arrow {
  float: left;
  margin-top: 10px;
}

.page-header-container .header-top-links {
  background-color: white;
  border: 1px solid #FF9800;
  border-radius: 5px;
  display: block;
  position: absolute;
  z-index: 200;
  top: 47px;
  right: 0;
  width: 200px;
  padding: 10px 0px 10px 0px;
}

.page-header-container .header-top-links li {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-header-container .header-top-links li:hover {
  background-color: #fff6e5;
}

.page-header-container .header-top-links a {
  color: grey;
}

.page-header-container .header-top-links a:hover {
  text-decoration: none;
}

.form-language {
  float: left;
}

.logo {
  min-height: 0;
}

.langs-wrapper{float:right;height:15px;margin-right:20px;}
.lang-flag{border:1px solid transparent;display:inline-block;height:13px;}
.lang-flag:hover{border:1px solid #FFF;}

.account-cart-wrapper {
  margin-top: 13px;
}

.account-cart-wrapper .header-home-circle {
  float: left;
  margin-right: 30px;
  margin-top: -4px;
}

.button:hover {
  background-color: none;
}

.account-cart-wrapper a.button {
  padding: 6px 20px;
  border-radius: 5px;
  height: 32px;
  margin-right: 20px;
  text-transform: none;
}

/* Login and Create*/

.account-create {
  width: 1200px;
  margin: 0 auto;
}

.account-create .fieldset {
  margin-left: 20px;
}

.account-create .buttons-set {
  padding-left: 30px;
}

.account-login {
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.account-login .col2-set {
  padding-left: 60px;
}

.account-login .registered-users h2 {
  text-transform: none;
}

.account-login .form-list {
  margin-left: 0;
}

.account-login .form-list input {
  width: 500px;
  height: 35px;
  border-radius: 5px;
}

.account-login .buttons-set button.button {
  min-width: 140px !important;
}

.account-login .please-register {
  text-align: left;
}

#login-button {
  background-color: white;
  border: 1px solid #FF9800;
  color: #FF9800;
}

.my-account .page-title h1 {
  text-transform: none;
  font-size: 24px;
  margin-left: 60px;
  padding-top: 40px;
  font-weight: normal;
}

.my-account .fieldset {
  margin-left: 60px;
}

.my-account .legend {
  margin-left: 0;
}

.my-account .form-list {
  margin-left: 0;
}

.my-account .form-list input {
  width: 500px;
  height: 35px;
  border-radius: 5px;
}

.my-account .form-list .checkbox {
  width: auto;
  height: auto;
  border-radius: 0;
}

.my-account .buttons-set {
  margin-left: 60px;
}

.my-account .buttons-set .back-link a {
  padding: 5px 15px;
}

.my-account .fieldset h2 {
  padding-top: 0;
}


/* Login and Create*/

/* Account Dashboard Start */

.my-account {
  width: 1200px;
  margin: 0 auto;
}

.my-account .dashboard {
  margin-top: 60px;
}

.my-account .dashboard .box-account {
  border-bottom: none;
  padding-bottom: 0;
}

.my-account .dashboard h3 {
  text-transform: none;
}

.my-account .dashboard .col-1 {
  width: 33.3%;
  float: left;
  margin-bottom: 60px;
}

.my-account .dashboard .col-2 {
  width: 33.3%;
  float: left;
  margin-bottom: 60px;
}

.my-account .dashboard .col-3 {
  width: 33.3%;
  float: left;
  margin-bottom: 60px;
}

.my-account .dashboard .box-content label {
  margin-top: 20px;
  font-weight: bold;
}

.my-account .dashboard .box-content p {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
}

.my-account .dashboard .button {
  margin-top: 40px;
  border-radius: 5px;
  margin-left: 0;
  text-transform: none;
  margin-right: 50px;
}

.my-account .dashboard .col-2 .button-white {
  margin-top: 30px;
  margin-left: 0;
  background-color: white;
  border: 1px solid #FF9800;
  color: #FF9800;
}

.my-account .dashboard .payment-card {
  width: 300px;
  height: 150px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 30px;
}

.my-account .dashboard .col-3 .data-table th {
  text-transform: none;
  background-color: white;
}

.my-account .dashboard .col-3 .data-table td {
  font-family: "Roboto";
  font-style: normal;
}

.my-account .dashboard .col-3 .data-table .last {

}


/* Account Dashboard End */

body.cms-home .main-container {
  padding-top: 0;
}

.home-container-poznat {
  height: 680px;
  background: url(../images/homepage_image_1.jpg) top center;
  text-align: center;
  background-size: cover;
}

.home-container-poznat-search {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  width: 1200px;
  margin: 0 auto;
  border-radius: 5px;
}

#search {
  width: 520px;
  height: 64px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-container-poznat-search .search-input {
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 20px;
}

.home-container-poznat-search .search-select {
  width: 528px;
  height: 64px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 18px;
  font-family: "Roboto";
}

.home-container-poznat-search .search-submit-parent {
  width: 64px;
  height: 64px;
  float: right;
}

.home-container-poznat-search .search-submit {
  height: 64px;
  width: 64px;
  border: 0;
  border-radius: 5px;
  background-color: #FF9800;
  background-image: url("../images/search-bela.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}


.home-container-categories {
  width: 1200px;
  padding-left: 65px;
  padding-top: 60px;
  margin: 0 auto;
}

.home-container-categories li {
  float: left;
  width: 150px;
  text-align: center;
  margin-bottom: 40px;
}

.home-container-categories a {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #ff8a65;
  border-radius: 50%;
  padding-top: 16px;
}

.home-container-categories img {
  display: inherit;
  margin: 0 auto;
  width: 32px;
  height: 32px;
}

.home-container-packages-container h2 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-transform: none;
  font-size: 24px;
}

.home-container-packages {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
}

.home-container-packages-container {
  display: inline-block;
}

.home-container-packages-box {
  width: 300px;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding-top: 20px;
}

.package-box-name {
  font-weight: bold;
  color: white;
  text-transform: none;
  font-size: 18px;
}

.package-box-price {
  color: white;
  font-size: 36px;
  margin-bottom: 20px !important;
}

.package-box-desc {
  font-size: 20px;
  color: white;
  margin-bottom: 50px !important;
}

.package-box-button {
  background-color: white;
  margin-bottom: 20px;
  width: 260px;
  height: 32px;
  border-radius: 5px;
  text-transform: none;
}

.package-box-button:hover {
  background-color: white;
}

.home-container-promotions {
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: #00bfa5;
  height: 300px;
  padding-top: 60px;
}

.home-container-promotions-container h2 {
  text-transform: none;
  font-size: 24px;
  color: white;
}

.product-view {
  width: 1200px;
  margin: 0 auto;
}

.product-cover-img-box, .product-img-box {
  width: 1200px;
  padding: 0;
}

.product-cover-img-box img {
  margin: 0 auto;
  max-width: 1200px;
}

.product-image-gallery {
  width: 800px;
  height: 400px;
  text-align: center;
  float: left;
}

.product-cover-img-box .product-name {
  margin-top: 60px;
  text-align: center;
}

.product-cover-img-box .product-name h1 {
  font-size: 30px;
  border: none;
  text-transform: none;
}

.product-image {
  border: 0;
}

.product-view .product-shop {
  padding-left: 0;
  width: 100%;
  float: left;
}

.product-shop-information {
  float: left;
  width: 300px;
}

.product-shop-working-hours {
  float: left;
  width: 300px;
}

.product-shop-google-map {
  float: left;
  width: 600px;
  height: 300px;
}

a.product-edit-page {
  width: 100%;
  height: 60px;
  background-color: #61C18B;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: none;
  padding-top: 20px;
  font-size: 16px;
}

a.product-edit-page:hover {
  background-color: #61C18B;
}

a.product-shop-share-page {
  width: 100%;
  height: 60px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 60px;
  text-transform: none;
  padding-top: 20px;
  font-size: 16px;
}

/* Category Page */

.category-title h3 {
  text-transform: none;
  margin-top: 40px;
  font-size: 24px;
}

.category-products .toolbar {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.category-products .toolbar .pager {
  float: left;
}

.category-products .toolbar .pager {
  margin: 0;
}

.category-products .toolbar .pager strong {
  font-weight: normal;
  font-size: 16px;
}

.category-products .toolbar .pager .amount {
  margin-bottom: 0;
}

.category-products .toolbar .sorter {
  float: left;
  margin-bottom: 0;
}

.category-products .toolbar  .sorter label {
  text-transform: none;
}

.category-products .toolbar .sort-by select {
  background: none;
  border: none;
  width: 100px;
}

.category-products .toolbar .switch-list-map {
  float: right;
  width: 160px;
  padding-top: 1px;
}

.category-products .toolbar .switch-list-map .active {
  background-color: #FF9800;
  color: white;
}

.category-products .toolbar .switch-list {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 3px;
  background-color: #e0e0e0;
  color: gray;
}
.category-products .toolbar .switch-list:hover {
  cursor: pointer;
}

.category-products .toolbar .switch-map {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #e0e0e0;
  color: gray;
}



.category-products .toolbar .switch-map:hover {
  cursor: pointer;
}

.category-products .products-list .product-shop {
  float: left;
  padding-left: 0;
}

.category-products .products-list li {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.category-products .products-list li.last {
  border: none;
}

.category-products .products-list .product-image {
  float: left;
  width: 200px;
}

.category-products .products-list .product-info {
  padding-left: 20px;
  padding-bottom: 0;
  float: left;
}

.category-products .products-list .product-info .product-name {
  text-transform: none;
  font-family: Roboto;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.category-products .products-list .product-info a {
  font-weight: bold;
  color: #FF9800;
}

.category-products .products-list .product-info a:hover {
  cursor: pointer;
}

.category-products .products-list .product-info p {
  text-align: left;
  margin-bottom: 10px;
}

.category-products .category-map {
  width: 890px;
  height: 667px;
  margin-top: 20px;
  margin-bottom: 60px;
}

/* Category Page */

/* Select Package Page */

.select-packages-parent {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

.select-packages-container {
  display: inline-block;
}

.select-packages-box {
  width: 300px;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding-top: 20px;
}


/* Select Package Page */

/* Cart Page */

.cart {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.cart-table {
  width: 100%;
}

.cart-table .btn-empty {
  float: right;
}

.cart-table thead th {
  border-bottom: none;
}

.cart-table thead tr {
  border-bottom: 1px solid silver;
}

.cart-table tr {
  border-bottom: none;
}

.cart-table .product-name-td {
  text-align: left;
}

.cart-table .product-name-td h2 {
  text-transform: none;
}

.cart-table tbody tr {
  border-bottom: 1px solid silver;
}

.cart .totals table {
  float: right;
}

.cart .checkout-types {
  margin-top: 40px;
  margin-bottom: 60px;
}

/* Cart Page */

/* Error Messages */

.messages li li {
  position: absolute;
  padding: 7px 10px 7px 20px;
  background: #f4f4f4;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.messages .success-msg li {
  color: gray;
  width: 1200px;
  background-color: #f4f4f4;
}
