/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  /* Header */
  .page-header {
    max-width: 480px;
    height: auto;
  }

  .page-header .skip-links {
    border: none;
    width: 80px;
    float: left;
    padding-left: 25px;
  }

  .header-mobile-links-btn {
    margin-top: 3px;
    display: inline-block;
    margin-left: 40px;
  }

  #header-mobile-links-btn:hover {
    cursor: pointer;
  }

  .page-header-container {
    min-height: 60px;
  }

  .page-header-container .store-language-container {
    float: left;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .store-language-container .form-language-visible .language-flag {
    margin-top: 0;
  }

  .store-language-container .form-language-visible .language-arrow {
    margin-left: 10px;
    margin-top: 11px;
  }

  .logo {
    width: 35%;
  }

  .header-home-circle {
    display: none;
  }

  .header-mobile-links {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .mobile-header {
    width: 300px;
    margin-left: 0 !important;
    margin-bottom: 10px;
    border-radius: 5px;
    text-transform: none;
  }

  /* Header */

  /* Main Container */

  .main-container .col-main {
    margin-bottom: 0;
  }

  .main-container .col2-right-layout {
    width: auto;
  }

  .home-container-poznat {
    background: url(../images/mobile-home-1.jpg) top center;
  }

  .home-container-poznat-search {
    width: auto;
    border-radius: 0;
    padding: 20px 0;
  }

  .home-container-bidi-javen h1 {
    font-size: 48px;
  }

  .home-container-bidi-javen h4 {
    font-size: 20px;
  }

  .home-container-poznat-search .search-submit-parent {
    width: auto;
    height: auto;
    float: none;
  }

  .home-container-bidi-javen {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .home-container-poznat-search .search-input {
    width: 300px !important;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .home-container-poznat-search .search-select {
    width: 300px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .home-container-poznat-search .search-submit {
    width: 300px;
  }

  .home-container-categories {
    width: 300px;
    padding-left: 0;
  }

  .home-container-categories .empty-li {
    display: none;
  }

  .home-container-za {
    width: 300px;
    margin-bottom: 60px;
  }

  .home-container-za-biznisite {
    float: none;
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
  }

  .home-container-za-prebaruvacite {
    float: none;
    width: auto;
  }

  .home-container-vlozi {
    width: auto;
    text-align: center;
    display: inline-block;
    background: url(../images/mobile-home-2.jpg) top center;
  }

  .home-container-vlozi-bottom {
    width: 300px;
    display: inline-block;
    padding-left: 0;
  }

  .home-container-vlozi-1, .home-container-vlozi-2, .home-container-vlozi-3 {
    width: auto;
    float: none;
    padding: 0;
  }

  .home-container-packages {
    width: auto;
  }

  .home-container-packages-box {
    width: 300px;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
  }

  .home-container-promotions {
    width: 100%;
  }

  .home-container-promotions-container {
    width: auto;
  }

  .promote-packages-box {
    width: 100%;
    float: none;
  }

  /* Main Container */

  /* Footer */

  .footer-custom {
    width: auto;
  }

  .footer-custom-left {
    float: none;
    display: inline-block;
  }

  .footer-custom-left li {
    padding: 0;
    padding: 10px 10px 10px 0;
  }

  .footer-custom-right-kontakt {
    padding-left: 0;
    width: 300px;
  }

  .footer-custom-right-fb {
    padding-left: 0;
    width: 300px;
    padding-bottom: 20px;
  }

  /* Footer */

  /* Category */

  .page-header-search .mini-search {
    text-align: center;
  }

  .page-header-search {
    height: 262px !important;
    padding-top: 0;
  }

  .catalog-category-view .main-container, .catalogsearch-result-index .main-container, .catalog-product-view .main-container {
    width: auto !important;
    min-width: auto !important;
  }

  .main-container .col-main {
    text-align: center;
  }

  .category-products .count-container {
    float: none !important;
    display: inline-block;
  }

  .category-products .toolbar .sorter label {
    float: none;
  }

  .category-products .toolbar .sorter {
    margin-bottom: 20px;
  }

  .category-products .toolbar .sorter .sort-by {
    float: none;
    margin-right: 0;
  }

  .category-products .toolbar .pager .amount {
    margin: 0;
  }

  .category-products .products-list .product-image {
    float: none;
    margin: 0 auto;
  }

  .category-products .products-list .product-info .product-name {
    text-align: center;
    margin-top: 20px;
  }

  .category-products .products-list .product-info p {
    text-align: center;
  }

  .category-products .products-list .product-shop {
    float: none;
    width: 100%;
  }

  .category-products .products-list .product-info {
    float: none;
    padding-left: 0
  }

  .category-products .category-map {
    width: auto;
  }

  /* Category */

  /* Login and Register */

  .account-login {
    width: auto;
  }

  .account-login .col2-set {
    width: 300px;
    padding-left: 0;
    margin: 0 auto;
  }

  .account-login .input-box {
    margin: 0 auto;
    width: 300px;
  }

  .account-login .buttons-set a {
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
  }

  .account-login .please-register {
    margin-bottom: 40px;
  }

  .account-create {
    width: auto;
  }

  .account-create .col2-set {
    width: 300px;
    padding-left: 0;
    margin: 0 auto;
  }

  .account-create .input-box {
    margin: 0 auto;
    width: 300px;
  }

  .account-create .buttons-set a {
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
  }

  .account-create .please-register {
    margin-bottom: 40px;
  }

  .account-create .fieldset {
    margin-left: 0;
  }

  .account-create .fieldset .legend {
    margin-left: 0;
  }

  .account-create .form-list {
    margin-left: 0;
  }

  .account-create .buttons-set {
    width: 300px;
    margin-left: 0;
    padding-left: 0;
    margin: 0 auto;
  }

  .account-create .buttons-set button.button {
    margin-bottom: 20px;
  }

  /* Login and Register */

  /* Payments and Terms */

  .cms-payments-options .std p {
    width: 300px;
  }

  .cms-payments-options .std h4 {
    width: 300px;
  }

  .cms-terms-and-conditions .std p {
    width: 300px;
  }

  .cms-terms-and-conditions .std h4 {
    width: 300px;
  }

  /* Marketing Page */

  .marketing-packages-container {
    width: 300px;
    margin: 0 auto;
  }

  /* Marketing Page */

}
